<h5>Prime Accordion - Programado</h5>

<input
    type = "text"
    [(ngModel)] = "campoPesquisa"
    placeholder = "Número da Proposta"
/>
<button (click)="filtrar(campoPesquisa)">Pesquisar!</button>
<button (click)="limpar()">Limpar!</button>

<br /><br /><br /><br />
<p-accordion [multiple]="true">
  <p-accordionTab
    *ngFor="let linhaCredito of listaPropostasPorLinhaFiltrada.linha; index as i;"
    [(selected)]="linhaCredito.abreFecha"
    header="{{ linhaCredito.nome }}"
  >
  <p> Número da Proposta:  {{ linhaCredito.propostas[0].proposta }} </p>
  <p> Nome do Cliente:  {{ linhaCredito.propostas[0].proponente }} </p>
  </p-accordionTab>
</p-accordion>
